.title {
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  color: #545f7d;
}
.info {
  font-weight: 500;
  font-size: 16px;
  color: #545f7d;
}

 @media (max-width: 700px) {
  .title{
    font-size: 8px;
  }
  .info{
    font-size: 7px;
  }
 }
